/***************CSS DE LA PAGE CONTACT****************/



.contact_texte1 {
    text-align: center;
    font-size: 2rem;
    padding-top: 2.5rem 0;
}

.contact_texte2 {
    text-align: center;
    font-size: 1.6rem;
    padding: 2rem 0 4rem 0;
}

.contact_liens {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.contact_liens a {
    text-decoration: none;
    color: #64B39A;
    font-size: 1.4rem;
}